﻿<!DOCTYPE html>
<html ng-app="mvisWeb">
<head>
    <base href="~/">
    <title>mvis web</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" type="image/x-icon" href="~/Icons/PNG_MEDIVECTOR.png" /><meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">
</head>
<body>
    <!--Header-->
    <div ui-view="headerContainer" class="container-fluid" style="overflow:auto;">
        <div class="row row-bottom-margin vertical-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 well well-sm">
                <div class="col-xs-12 col-sm-4 pull-left">
                    <span><img src="~/Icons/PNG_LOGO_MEDIVECTOR_153x21_H.png" /></span>
                </div>
                <div class="col-sm-5 col-sm-offset-1 text-right">
                    Hola @User.Identity.Name
                    <span><img src="~/Icons/PNG_LOGGED_USER.png" width="35" height="35" /></span>
                </div>
                <div style="position:absolute;top:5px;right:5px;">
                    <a class="btn btn-info btn-xs mvi-gradient-button" target="_self" href="logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Salir
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Content Window-->
    <div ui-view="mainContainer" class="container-fluid" style="overflow:auto;">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 well well-sm" >
                <div ui-view="toolsContainer" class="col-xs-12 col-sm-1">
                    <!--Tools are loaded here-->
                    @RenderPage("~/Views/Home/Toolbar.cshtml")
                </div>
                <div ui-view="contentWindow" class="col-xs-12 col-sm-11 well well-sm">
                    <!--Content is loaded here with angular app.-->
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/angularMin")
    @Scripts.Render("~/bundles/mvisWeb")
</body>
</html>