﻿<!--Toolbar elements-->
<div class="text-center well well-sm" style="display:inline-flex;min-width:42px;float:left;">
    <a href="search">
        <span>
            <img src="~/Icons/PNG_VIEW2_54_BLUE.png" width="24" height="24" alt="Buscar"/>
        </span>
    </a>
</div>
