﻿<!--Help modal-->
<script type="text/ng-template" id="searchHelp.html">
    <div class="modal-header">
        <h3 class="modal-title">Información sobre el formulario de búsqueda</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>Los campos apellido y nombre admiten letras, acentos y diéresis. No admiten caracteres especiales o números.</li>
            <li>El campo nº historia clínica solo admite números y guiones.</li>
            <li>El campo nº acceso solo admite números y letras. </li>
            <li>El campo modalidad permite seleccionar una, varias o ninguna modalidad.</li>
            <li>El botón de búsqueda se deshabilita si algún campo contiene caracteres no válidos.</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>
<!--Search Form-->
<div ui-view="searchForm">    
    <div class="row panel-title text-center">
        <span>            
            <img src="~/Icons/PNG_VIEW2_54_BLUE.png" />
            Buscar Pacientes
        </span>
        <div class="pull-right" style="padding-right:15px;">
            <a class="btn btn-link" ng-click="openHelp()" style="padding:0; font-size:16px;">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </div>
    </div>
    <div>        
        <form name="searchForm" role="form" ng-submit="search()" novalidate>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error' : searchForm.nhc.$invalid }">
                    <label class="control-label">Nº Historia Clinica</label>
                    <input type="text" class="form-control" ng-model="searchFormData.nhc" name="nhc" placeholder="Nº Historia Clinica" ng-pattern="/^[0-9_-]+$/" autofocus/>
                    <p ng-show="searchForm.nhc.$invalid" class="help-block">El campo contiene caracteres no validos.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : searchForm.firstName.$invalid }">
                    <label class="control-label">Primer Apellido</label>
                    <input type="text" class="form-control" ng-model="searchFormData.firstName" name="firstName" placeholder="Primer apellido" ng-pattern="/^[a-zA-ZÀ-ÿ ]+$/" />
                    <p ng-show="searchForm.firstName.$invalid" class="help-block">El campo contiene caracteres no validos.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : searchForm.secondName.$invalid }">
                    <label class="control-label">Segundo Apellido</label>
                    <input type="text" class="form-control" ng-model="searchFormData.secondName" name="secondName" placeholder="Segundo apellido" ng-pattern="/^[a-zA-ZÀ-ÿ ]+$/" />
                    <p ng-show="searchForm.secondName.$invalid" class="help-block">El campo contiene caracteres no validos.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : searchForm.name.$invalid }">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" ng-model="searchFormData.name" name="name" placeholder="Nombre" ng-pattern="/^[a-zA-ZÀ-ÿ ]+$/" />
                    <p ng-show="searchForm.name.$invalid" class="help-block">El campo contiene caracteres no validos.</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : searchForm.accessNum.$invalid }">
                    <label class="control-label">Nº Acceso</label>
                    <input type="text" class="form-control" ng-model="searchFormData.accessNum" name="accessNum" placeholder="Nº Acceso" ng-pattern="/^[a-zA-Z0-9]+$/" />
                    <p ng-show="searchForm.accessNum.$invalid" class="help-block">El campo contiene caracteres no validos.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Modalidad</label>
                    <div class="form-group" uib-dropdown is-open="status.isopen" auto-close="outsideClick">
                        <button id="modalitySelector" type="button" class="form-control" uib-dropdown-toggle ng-disabled="disabled">
                            Seleccionar modalidad <span class="caret"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="modalitySelector">
                            <label ng-repeat="modality in modalities" class="checkbox-inline checkbox-inline-add-margin">
                                <input type="checkbox" value="{{modality}}" ng-checked="searchFormData.modalities.indexOf(modality) > -1" ng-click="toggleSelection(modality)">
                                {{modality}}
                            </label>
                            <li class="divider"></li>
                            <div class="text-center">
                                <button type="button" class="btn btn-info btn-sm" ng-click="status.isopen = !status.isopen">
                                    Cerrar <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </div>
                        </ul>
                    </div>
                    <div class="form-group checkbox">
                        <label class="control-label" style="padding-left:22px;">
                            <input type="checkbox" ng-model="searchFormData.dateSelection">
                            Usar fechas
                        </label>
                    </div>
                    <!-- bug: si fechas incorrenctas + collapsed = disabled search button-->
                    <div uib-collapse="!searchFormData.dateSelection">
                        <div class="form-group">
                            <label class="control-label">Fecha inicial</label>
                            <p class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="calStartOpen($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" uib-datepicker-popup="" ng-model="searchFormData.startDate"
                                       is-open="isOpen.calStart" placeholder="dd/mm/yyyy" />
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha final</label>
                            <p class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="calEndOpen($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" uib-datepicker-popup="" ng-model="searchFormData.endDate"
                                       is-open="isOpen.calEnd" placeholder="dd/mm/yyyy" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-info btn-lg mvi-gradient-button" type="submit" ng-disabled="searchForm.$invalid">
                        <span class="glyphicon glyphicon-search"></span>
                        Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Alert and loading spinner -->
<div class="alert alert-danger" style="position:absolute; bottom:0; right:10px;" ng-show="searchFailed">
    <p><span class="glyphicon glyphicon-alert" style="margin:0 10px 0 0;"></span>No se han encontrado resultados.</p>
</div>
<div style="position:absolute; bottom:32px; right:32px;">    
    <span us-spinner="{radius:10, width:5, length: 10, color:'#428bca'}" spinner-key="spinner-1"></span>
</div>