﻿<!--Header template Scripts-->
<script type="text/ng-template" id="patientHeaderData.html">
    <div class="panel panel-info" style="margin-bottom:5px;">
        <div class="panel-heading panel-heading-less-padding" style="color:black">
            <div class="panel-title">
                <a href class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </a>
            </div>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body panel-body-less-padding panel-staircase" ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="secondaryHeaderStaircase.html">
    <div class="panel panel-default no-border no-shadow">
        <div class="panel-heading panel-heading-less-padding" style="color:black">
            <h4 class="panel-title">
                <a href class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body panel-body-less-padding panel-staircase" ng-transclude></div>
        </div>
    </div>
</script>
<!--Patient search results table-->
<div ui-view="tableContainer" class="table-responsive">
    <div class="table" style="min-width:420px;">
        <uib-accordion close-others="oneAtATime">
            <div class="panel panel-primary no-border transparent-background">
                <div class="panel-heading mvi-gradient-panel-primary">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-4">Nombre de paciente</div>
                        <div class="col-xs-3">Nº Historia Clinica</div>
                        <div class="col-xs-3">Fecha de Nacimiento</div>
                    </div>
                </div>
                <uib-accordion-group is-open="patient.open" template-url="patientHeaderData.html" ng-class-even="'patient-heading-even'" ng-class-odd="'patient-heading-odd'" ng-repeat="person in testArray(patients.addInfoExchange.queryResults.patient) track by $index">
                    <uib-accordion-heading>
                        <div class="row">
                            <div class="col-xs-1"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': patient.open, 'glyphicon-chevron-right': !patient.open}"></i></div>
                            <div class="col-xs-4">{{person.patientName["#text"]}}</div>
                            <div class="col-xs-3">{{person.patientID["#text"]}}</div>
                            <div class="col-xs-3">{{person.patientBirthDate["#text"]}}</div>
                        </div>
                    </uib-accordion-heading>
                    <div class="panel panel-primary no-border no-shadow">
                        <div class="panel-heading panel-heading-less-padding mvi-gradient-panel-primary">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-4">Identificador de estudio</div>
                                <div class="col-xs-2">Nº Acceso</div>
                                <div class="col-xs-2">Fecha</div>
                                <!--<div class="col-xs-2">Placeholder</div>-->
                            </div>
                        </div>
                        <uib-accordion-group is-open="study[$index]" template-url="secondaryHeaderStaircase.html" ng-class-even="'patient-heading-even'" ng-class-odd="'patient-heading-odd'" ng-repeat="study in testArray(person.patientStudies.study) track by $index">
                            <uib-accordion-heading>
                                <div class="row">
                                    <div class="col-xs-1"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': study[$index], 'glyphicon-chevron-right': !study[$index]}"></i></div>
                                    <div class="col-xs-4">{{study.studyID["#text"]}} </div>
                                    <div class="col-xs-2">{{study.accessionNumber["#text"]}} </div>
                                    <div class="col-xs-2">{{study.studyDate["#text"]}} </div>
                                    <!--<div class="col-xs-2">{{$index}}</div>-->

                                </div>
                            </uib-accordion-heading>
                            <div class="panel panel-primary no-border no-shadow">
                                <div class="panel-heading panel-heading-less-padding mvi-gradient-panel-primary">
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-6">Identificador de instancia</div>
                                        <div class="col-xs-2">Modalidad</div>
                                        <!--<div class="col-xs-2">Placeholder</div>-->
                                    </div>
                                </div>
                                <uib-accordion-group ng-switch on="series[$index]" is-open="series[$index]" template-url="secondaryHeaderStaircase.html" ng-class-even="'patient-heading-even'" ng-class-odd="'patient-heading-odd'" ng-repeat="series in testArray(study.studySeries.series) track by $index">
                                    <uib-accordion-heading>
                                        <div class="row">
                                            <div class="col-xs-1"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': series[$index], 'glyphicon-chevron-right': !series[$index]}"></i></div>
                                            <div class="col-xs-6 hideOverflow">{{series.seriesInstanceUID["#text"]}}</div>
                                            <div class="col-xs-2">{{series.modality["#text"]}}</div>
                                            <!--<div class="col-xs-2">{{$index}}</div>-->
                                        </div>
                                    </uib-accordion-heading>
                                    <div ng-switch-when="true" class="panel panel-primary no-border no-shadow">
                                        <div class="panel-heading panel-heading-less-padding mvi-gradient-panel-primary">
                                            <div class="row">
                                                <div class="col-xs-3 text-center">Vista previa instancia</div>
                                                <div class="col-xs-2 text-center">Nº de frames</div>
                                                <div class="col-xs-2 text-center">Ver DICOM</div>
                                                <div class="col-xs-2 text-center">Ver video</div>
                                            </div>
                                        </div>
                                        <div class="row row-remove-margin" ng-class-even="'image-row-even'" ng-class-odd="'image-row-odd'" ng-repeat="image in testArray(series.seriesImages.image) track by $index">
                                            <div class="col-xs-3">
                                                <img class="img-responsive center-block ico" src='getIcon?SOPInstanceUID={{image.SOPInstanceUID["#text"]}}' alt="ico" />
                                            </div>
                                            <div class="col-xs-2 text-center">{{image.framesNumber["#text"]}}</div>
                                            <div class="col-xs-2 text-center">
                                                <!--note: use named frame when viewer supports multiple instances-->
                                                <a target="_blank" href='dicomViewer?SOPInstanceUID={{image.SOPInstanceUID["#text"]}}'>
                                                    <span class="btn btn-xs btn-info glyphicon glyphicon-eye-open" style="margin-bottom:3px;"></span>
                                                </a>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <a target="_blank" href='videoViewer?SOPInstanceUID={{image.SOPInstanceUID["#text"]}}'>
                                                    <span class="btn btn-xs btn-info glyphicon glyphicon-play" style="margin-bottom:3px;"></span>
                                                </a>
                                            </div>
                                            <!--
            <div>
                <button class="btn btn-link" ng-click="testStorage(image)">
                    test stor
                </button>
            </div>
                -->
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </div>
                        </uib-accordion-group>
                    </div>
                </uib-accordion-group>
            </div>
        </uib-accordion>
    </div>
</div>