﻿.html .body {
    width:100%;
    height:100%;
}

.account-login {
    margin-top: 30px;
}

.login-logo {
    padding:20px;
}

.row-bottom-margin {
    margin-bottom:10px;
}

.well {
    background: #f6f6f6;
    margin-bottom: 10px;
}

.panel-group .panel + .panel {
  margin-top: 1px;
  margin-bottom: 1px;
}

.panel-body-less-padding {
    padding: 10px;
}

.panel-heading-less-padding {
    padding: 5px 15px;
}

.panel-staircase {
    padding: 2px 0 0 29px;
}

.patient-heading-even{
    border-color: #bce8f1;
}
.patient-heading-even > .panel-heading {
  color: #31708f;
  background-color: #edf7fa;
  border-color: #bce8f1;
}
.patient-heading-even > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.patient-heading-even > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.patient-heading-even > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.patient-heading-odd{
    border-color: #bce8f1;
}
.patient-heading-odd > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.patient-heading-odd > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.patient-heading-odd > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.patient-heading-odd > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.vertical-center {
    display:flex;
    align-items:center;
}

.col-fixed-42 {
    width:42px;
}

.row-add-padding-left {
    padding-left:22px;
}

.row-remove-margin {
    margin:0;
}

.glyph-padding {
    padding-left:5px;
    padding-right:5px;
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

input[type='file']:focus, input[type='radio']:focus, input[type='checkbox']:focus {
    outline:none;
}

.checkbox-inline-add-margin {
    margin-left:10px;
    margin-right:10px;
}

.mvi-gradient-panel-primary {
  background: #428bca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Fx 3.6-15*/
  background: linear-gradient(to top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Standard*/
}

.mvi-gradient-title {
  background: #5bc0de; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Fx 3.6-15*/
  background: linear-gradient(to top,rgba(84,197,250,1),rgba(12,169,203,1)); /*Standard*/
}

.mvi-gradient-button {
  background: #5bc0de; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(50,132,201,1),rgba(12,169,203,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(50,132,201,1),rgba(12,169,203,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(50,132,201,1),rgba(12,169,203,1)); /*Fx 3.6-15*/
  background: linear-gradient(to top,rgba(50,132,201,1),rgba(12,169,203,1)); /*Standard*/
}

.mvi-bar-color {
    background: #f6f6f6;
}

.image-row-even {
    background: #edf7fa;
    line-height:2;    
}

.image-row-odd {
    background: #bce8f1;
    line-height:2; 
    /*background:#d9edf7;*/
}

.ico {
    width:100%;
    max-height:64px;
    max-width:64px;
    margin:3px auto;
}

.no-border {
    border:none;
}

.no-shadow {
    box-shadow:none;
}

.transparent-background{
    background-color:transparent;
}

/*cornerstone viewer styles*/

.viewport {
    width:auto;
    height:auto;
    top:0px;
    left:0px;
    position:absolute;
    display:block;
}

.viewportWrapper {
    box-sizing: border-box;
    border: 2px solid #777;
}