﻿.video-mvis{

}

.video-mvis .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  display:unset;
}

.video-mvis .vjs-duration,
.vjs-no-flex .vjs-duration {
  display: unset;
}

.video-mvis .vjs-time-divider {
  display: unset;
  line-height: 3em; 
}

.video-mvis .vjs-volume-menu-button {
    display:none;
}

.video-mvis .vjs-remaining-time-display {
    display:none;
}
