﻿<div ui-view="tableContainer" class="table-pers">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="">
            <uib-accordion-heading>
                <div class="row">
                    <div class="col-sm-3">Nombre</div>
                    <div class="col-sm-3">NHC</div>
                    <div class="col-sm-3">Fecha Nacimiento</div>
                </div>
            </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group ng-repeat="person in testArray(patients.addInfoExchange.queryResults.patient) track by $index">
            <uib-accordion-heading>
                <div class="row-pers">
                    <div class="cell-pers">{{person.patientName["#text"]}}</div>
                    <div class="cell-pers">{{person.patientID["#text"]}}</div>
                    <div class="cell-pers">{{person.patientBirthDate["#text"]}}</div>
                </div>
            </uib-accordion-heading>
            <uib-accordion-group ng-repeat="study in testArray(person.patientStudies.study) track by $index">
                <uib-accordion-heading>
                    <div class="row-pers">
                        <div class="cell-pers">{{study.studyID["#text"]}} </div>
                        <div class="cell-pers">{{study.studySeries.modality["#text"]}} </div>
                        <div class="cell-pers">{{study.accessionNumber["#text"]}} </div>
                        <div class="cell-pers">{{study.studyDate["#text"]}} </div>
                        <div class="cell-pers">//todo</div>
                    </div>
                </uib-accordion-heading>
                <div class="row-pers">
                    <uib-accordion-group ng-repeat="series in testArray(study.studySeries.series) track by $index">
                        <uib-accordion-heading>
                            <div class="row-pers">
                                <div class="cell-pers">{{series.seriesNumber}}</div>
                                <div class="cell-pers">//todo</div>
                            </div>
                        </uib-accordion-heading>
                        <div class="row-pers">
                            <uib-accordion-group ng-repeat="image in testArray(series.seriesImages.image) track by $index">
                                <uib-accordion-heading>
                                    <div class="row-pers">
                                        <div class="cell-pers">{{image.instanceNumber}}</div>
                                    </div>
                                </uib-accordion-heading>
                        </div>
                    </uib-accordion-group>
                </div>
            </uib-accordion-group>
        </uib-accordion-group>
    </uib-accordion>
</div>