﻿<div ui-view="tableContainer">
    <table style="border:1px solid;">
        <tr>
            <th>Nombre</th>
            <th>NHC</th>
            <th>Fecha Nacimiento</th>
        </tr>

        <tbody>

            <tr ng-repeat-start="person in testArray(patients.addInfoExchange.queryResults.patient) track by $index">
                <td>{{person.patientName["#text"]}}</td>
                <td>{{person.patientID["#text"]}}</td>
                <td>{{person.patientBirthDate["#text"]}}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="3">
                    <table style="border:1px dotted;">
                        <tr>
                            <th>Estudio</th>
                            <th>Modalidad</th>
                            <th>Nº acceso</th>
                            <th>fecha estudio</th>
                            <th>Enlaces</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat-start="study in testArray(person.patientStudies.study) track by $index">
                                <td>{{study.studyID["#text"]}} </td>
                                <td>{{study.studySeries.modality["#text"]}} </td>
                                <td>{{study.accessionNumber["#text"]}} </td>
                                <td>{{study.studyDate["#text"]}} </td>
                                <td>//todo</td>
                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="5">
                                    <table style="border:1px thin;">
                                        <tr>
                                            <th>num serie</th>
                                        </tr>
                                        <tbody>
                                            <tr ng-repeat-start="series in testArray(study.studySeries.series) track by $index">
                                                <td>{{series.seriesNumber}}</td>
                                            </tr>
                                            <tr ng-repeat-end>
                                                <td colspan="1">
                                                    <table style="border:1px dashed;">
                                                        <tr>
                                                            <th>Imagen nº</th>
                                                        </tr>
                                                        <tbody>
                                                            <tr ng-repeat="image in testArray(series.seriesImages.image) track by $index">
                                                                <td>{{image.instanceNumber}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>



</div>