﻿<div ui-view="tableContainer" class="well well-sm">
    <table style="border:1px solid;">
        <tr>
            <th>Nombre</th>
            <th>NHC</th>
            <th>Fecha Nacimiento</th>
        </tr>

        <tbody>

            <tr ng-repeat-start="person in testArray(patients.addInfoExchange.queryResults.patient) track by $index">
                <td>{{person.patientName["#text"]}}</td>
                <td>{{person.patientID["#text"]}}</td>
                <td>{{person.patientBirthDate["#text"]}}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="3">
                    urdatam8
                </td>
            </tr>

        </tbody>
    </table>



</div>