﻿<div ui-view="searchForm">
    <span><img src="~/Icons/PNG_VIEW2_54_BLUE.png" /></span>
    <div class="panel-title">Buscar Pacientes</div>
    <div>
        <form name="searchFormMain" role="form" ng-submit="search()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchForm.firstName" id="fistName" placeholder="Primer apellido" autofocus />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchForm.secondName" id="secondName" placeholder="Segundo apellido" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchForm.name" id="name" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchForm.nhc" id="nhc" placeholder="Nº Historia Clinica" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchForm.accessNum" id="accessNum" placeholder="Nº Acceso" />
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="searchForm.modality" id="modality">
                    <option value=""> Modalidad </option>
                    <option ng-repeat="modality in modalities" value="{{modality}}">{{modality}}</option>
                </select>
            </div>

            <div class="form-group checkbox">
                <label>
                    <input type="checkbox" ng-model="dateSelection">
                    Usar fechas
                </label>
            </div>

            <div uib-collapse="!dateSelection">
                <!-- <div class="animate-show" ng-show="dateSelection"> -->
                <div class="form-group">
                    <!--<input type="date" class="form-control" ng-model="searchForm.startDate" id="startDate"
                           placeholder="yyyy-MM-dd" min="2013-01-01" max="2016-12-31" />-->
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="" ng-model="searchForm.startDate"
                               is-open="isOpen.calStart" />
                        <!--
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                            ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate"
                             datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                             close-text="Close" />
                        -->
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calStartOpen($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="" ng-model="searchForm.endDate"
                               is-open="isOpen.calEnd" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calEndOpen($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>

            <button class="btn btn-info btn-lg" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                Buscar
            </button>
        </form>
    </div>
</div>