﻿<!DOCTYPE html>

<html ng-app="mvisLogin" ng-controller="LoginController">
<head>
    <base href="~/">
    <title>mvis web</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" type="image/x-icon" href="~/Icons/PNG_MEDIVECTOR.png" />    
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xs-offset-0 col-sm-offset-3">
                <div class="well account-login">
                    <div class="text-center login-logo"><span><img src="~/Icons/PNG_LOGO_MEDIVECTOR_153x21_H.png" /></span></div>
                    <form role="form" ng-submit="login()">
                        <div class="form-group">
                            <label class="control-label" for="userName" style="margin-bottom:4px;">User:</label>
                            <p class="input-group">
                                <span class="input-group-btn" style="pointer-events:none;">
                                    <span class="btn btn-default"><i class="glyphicon glyphicon-user"></i></span>
                                </span>
                                <input type="text" class="form-control" ng-model="loginForm.userName" id="userName" placeholder="Usuario" required autofocus tabindex="1" />
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <p class="input-group">
                                <span class="input-group-btn" style="pointer-events:none;">
                                    <span class="btn btn-default"><i class="fa fa-key"></i></span>
                                </span>
                                <input type="password" class="form-control" ng-model="loginForm.password" id="password" placeholder="Contraseña" required tabindex="2" />
                            </p>
                        </div>
                        <!--
                <div class="form-group">
                    <label for="rememberMe">Remember Me:</label>
                    <input type="checkbox" id="rememberMe" ng-model="loginForm.rememberMe" />
                </div>
                    -->
                        <div class="text-center">
                            <button class="btn btn-info btn-lg" type="submit" tabindex="3" style="outline:none;">
                                Login
                                <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div style="position:absolute; bottom:48px; right:44px;">
                    <span us-spinner="{radius:10, width:5, length: 10, color:'#428bca'}" spinner-key="spinner-1"></span>
                </div>
            </div>            
        </div>        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xs-offset-0 col-sm-offset-3">
                <div class="alert alert-danger" ng-show="loginForm.loginFailure">
                    <p>
                        <span class="glyphicon glyphicon-alert" style="margin:0 10px 0 0;"></span>
                        El nombre de usuario o contraseña son incorrectos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/angularMin")
    @Scripts.Render("~/bundles/mvisLogin")
</body>
</html>