﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="cornerstoneApp">
<head>
    <title>mvis web dicom viewer</title>
    <!-- support for mobile touch devices -->
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">    
    @Styles.Render("~/Content/cornerstoneCSS")
</head>

<body ng-controller="CornerstoneController" ng-init="init('@ViewBag.url')">
    <div class="container-fluid">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="btn-group" style="margin-bottom:5px;">
                        <span ng-click="changeTools('ww', $event)" class="btn btn-info glyphicon"><span class="fa fa-sun-o"></span></span>
                        <span ng-click="changeTools('invert', $event)" class="btn btn-info glyphicon"><span class="fa fa-adjust"></span></span>
                        <span ng-click="changeTools('zoom', $event)" class="btn btn-info glyphicon"><span class="fa fa-search"></span></span>
                        <span ng-click="changeTools('pan', $event)" class="btn btn-info glyphicon"><span class="fa fa-arrows"></span></span>
                        <span ng-click="changeTools('scroll', $event)" class="btn btn-info glyphicon"><span class="fa fa-bars"></span></span>
                        <span ng-click="playPauseClip()" id="playClip" ng-class="{'btn btn-info glyphicon glyphicon-pause': isPlay, 'btn btn-info glyphicon glyphicon-play': !isPlay}"></span>
                        <span ng-click="stopClip()" id="stopClip" class="btn btn-info glyphicon glyphicon-stop"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div id="imageBox" style=" width:100%;height:100%;position:relative;display:inline-block;"
                         oncontextmenu="return false"
                         class='cornerstone-enabled-image'
                         unselectable='on'
                         onselectstart='return false;'
                         onmousedown='return false;'>
                        <div id="dicomImage" class="viewport"
                             style="top:0px;left:0px; position:relative; border:1px solid; border-color:#0094ff;">
                        </div>
                    </div>
                </div>            
                <div class="col-xs-12 col-sm-6">
                    <div class="row" style="margin:6px;">
                        <div class="col-xs-12 form-group">
                            <ul class="list-group">
                                <li class="list-inline">
                                    <label>Nombre del paciente: <span style="display:inline;" ng-bind="patient.name"></span></label>
                                </li>
                                <li class="list-inline">
                                    <label>Fecha de nacimiento: <span style="display:inline;" ng-bind="patient.birthDate"></span></label>
                                </li>
                                <li class="list-inline">
                                    <label>Fecha del estudio: <span style="display:inline;" ng-bind="patient.studyDate"></span></label>
                                </li>
                                <li class="list-inline">
                                    <label>Nº total de imagenes: <span style="display:inline;" ng-bind="frames"></span></label>
                                </li>
                                <li class="list-inline">
                                    <label>
                                        Mostrando: <span style="display:inline;" ng-bind="stack.currentImageIdIndex+1"></span>
                                        de <span style="display:inline;" ng-bind="stack.imageIds.length"></span>
                                    </label>
                                </li>
                                <li class="list-inline">
                                    <label>Repetición</label>
                                    <input type="checkbox" ng-model="playLoop" ng-change="enableLoop()" id="loop" checked />
                                </li>
                                <li class="list-inline">
                                    <label>Selector de imagen:</label>
                                    <div class="row">
                                        <a href ng-click="previous()"><i class="glyphicon glyphicon-triangle-left"></i></a>
                                        <input style="width:80%; display:inline;" type="range" ng-model="currentImgIdxSlider" ng-change="selectImage(currentImgIdxSlider-1)" ng-model-options="{debounce:10}" id="slice-range" />
                                        <!--<input type="number" ng-model="stack.currentImageIdIndex" style="width:26px; text-align:center;"/>-->
                                        <a href ng-click="next()"><i class="glyphicon glyphicon-triangle-right"></i></a>
                                    </div>
                                </li>
                                <li class="list-inline">
                                    <label>Velocidad de reproducción:</label>
                                    <input type="number" ng-model="fps" style="width:40px; text-align:center;" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                               
            </div>
        </div>
    </div>

    <!-- include the cornerstone library and dependencies -->
    @Scripts.Render("~/bundles/cornerstoneCore")

    <!-- include the WADO image loader and dependencies (dicomParser, jpeg2000) -->
    @Scripts.Render("~/bundles/cornerstoneWADO")

    <!-- include the cornerstone application and dependencies (angular)-->
    @Scripts.Render("~/bundles/cornerstoneApplication")

</body>
</html>

