﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>    
    <title>mvis dicom web video</title>
    <!-- If you'd like to support IE8 -->
    <script src="~/Scripts/VideoJS/videojs-ie8.js"></script>
    @Styles.Render("~/Content/videoJS")
</head>

<body>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <video id="dicomVideo" class="video-js video-mvis" preload="auto" width="512" height="512"
                   loop data-setup='{ "controls": true, "autoplay": true, "preload": "auto" }'>
                <source src="@ViewBag.url" type='video/mp4'>                
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>

    <script src="~/Scripts/VideoJS/video.js"></script>
</body>
</html>
